.about{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 200px;

    @include breakpoint($mobile-bp){
        align-items: center;
        flex-direction: column-reverse;
        gap: 3rem;
    }
}

.about__texts{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    width: 508.98px;

    @include breakpoint($mobile-bp){
        text-align: center;
    }

    @include breakpoint($tablet-bp){
        width: 460px;
        gap: 2rem;
    }

    h1{
        font-weight: 500;
        font-size: 32px;
        line-height: 4.2rem;

        letter-spacing: -0.02em;

        @include breakpoint($tablet-bp){
            font-size: 30px;
        }

        span{
            color: #007FEF;
            transition: $transition;
            
            &:hover{
                text-decoration: underline;
            }
        }
    }
    p{
        font-weight: 400;
        font-size: 20px;
        line-height: 2.8rem;
        @include breakpoint($tablet-bp){
            font-size: 17px;
        }

        letter-spacing: -0.02em;
    }
}

.about__photo{
    width: 333px;
    height: 474.75px;
    background: #A6D5FF;
    position: relative;

    @include breakpoint($tablet-bp) {
        margin-left: 10px;
    }

    &::after{
        content: '';
        display: block;
        position: absolute;
        z-index: 10;
        width: 100%;
        height: 100%;
        background: #8AC8FF;
        transform: translate(-39px, 26px);
        @include breakpoint($tablet-bp){
            transform: translate(0, 0);
        }
    }
    &::before{
        content: '';
        display: block;
        position: absolute;
        z-index: 20;
        width: 100%;
        height: 100%;
        background: #000;
        transform: translate(-60px, 68px);
        background: url(../images/user.jpg) no-repeat, center;
        background-size: cover;
        @include breakpoint($tablet-bp){
            transform: translate(0, 0);
        }
    }
}