<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <h2>Looking for some one to join an awesome venture</h2>
            <h1>Let’s Connect ↗</h1>
            <div class="footer__contact">
                <a>
                    LinkedIn ↗
                </a>
                <a>
                    Behance ↗
                </a>
                <a>
                    Twitter ↗
                </a>
            </div>
        </div>
    </div>
</footer>