<header class="header" id="header">
    <div class="container">
        <div class="header__inner">

            <a href="#header" class="header__logo">
                Designer                
            </a>

            <nav class="navbar">
                <a href="#work" class="navbar__link">Work</a>
                <a href="#about" class="navbar__link">About</a>
                <a href="#resume" class="navbar__link">Resume</a>
            </nav>

            <div class="burger">
                <i class="fa-solid fa-bars-staggered"></i>
            </div>
        </div>
    </div>
</header>

<div class="intro">
    <div class="container">
        <div class="intro__inner">
            <div class="intro__script">
                <h1>
                    Hi, I'm John Doe. <br>
                    <span>UX Designer</span> based in Delhi, India
                </h1>
                <p>Product Design intern at <span>Google</span></p>
            </div>
            <button class="btn">My Resume <i class="fa-solid fa-arrow-right"></i></button>
        </div>
    </div>
</div>